In [45]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import DateType

In [2]:
spark = SparkSession\
    .builder\
    .appName("lecture-11-app")\
    .master("local[8]").getOrCreate()

In [3]:
spark

In [4]:
spark.sparkContext.uiWebUrl

'http://10.11.8.246:4041'

In [19]:
df = spark.read.csv('../data/hm/raw/transactions_train.csv', header=True, inferSchema=True)

In [20]:
df.rdd.getNumPartitions()

26

In [22]:
df.repartition(64).select(F.avg('price')).show()

+--------------------+
|          avg(price)|
+--------------------+
|0.027829273856928176|
+--------------------+

In [10]:
df.count()

482189

In [36]:
df = spark.read.csv('../data/hm/exam/transactions.csv', header=True, inferSchema=True)

In [27]:
df = spark.read.csv('../data/hm/raw/transactions_train.csv', header=True, inferSchema=True)

In [28]:
df.select('customer_id').distinct().count()

1362281

In [29]:
agg = df.groupby('customer_id').count().orderBy('count', ascending=False).toPandas()

In [30]:
agg

                                               customer_id  count
0        be1981ab818cf4ef6765b2ecaea7a2cbf14ccd6e8a7ee9...   1895
1        b4db5e5259234574edfff958e170fe3a5e13b6f146752c...   1441
2        49beaacac0c7801c2ce2d189efe525fe80b5d37e46ed05...   1364
3        a65f77281a528bf5c1e9f270141d601d116e1df33bf9df...   1361
4        cd04ec2726dd58a8c753e0d6423e57716fd9ebcf2f14ed...   1237
...                                                    ...    ...
1362276  3b9f6e7907566378f605ca45ced5c4d08df27091f223a2...      1
1362277  58e3dd1e66addaf7b540f88a0dc77cabd166d8a3daea0c...      1
1362278  686cd3eff5482ce6d510378af0fe47f1fe2fda3edd5da2...      1
1362279  b3388e406487258ea5182e7d5296b718ce2ecdb30b5922...      1
1362280  f657404baef05209e714bd5e6a9ea28fa7ef3ec6b49166...      1

[1362281 rows x 2 columns]

In [31]:
agg = df.repartition(64).groupby('customer_id').count().orderBy('count', ascending=False).toPandas()

In [35]:
df.coalesce(24).groupby('customer_id').count().orderBy('count', ascending=False).toPandas()

                                               customer_id  count
0        be1981ab818cf4ef6765b2ecaea7a2cbf14ccd6e8a7ee9...   1895
1        b4db5e5259234574edfff958e170fe3a5e13b6f146752c...   1441
2        49beaacac0c7801c2ce2d189efe525fe80b5d37e46ed05...   1364
3        a65f77281a528bf5c1e9f270141d601d116e1df33bf9df...   1361
4        cd04ec2726dd58a8c753e0d6423e57716fd9ebcf2f14ed...   1237
...                                                    ...    ...
1362276  3b9f6e7907566378f605ca45ced5c4d08df27091f223a2...      1
1362277  58e3dd1e66addaf7b540f88a0dc77cabd166d8a3daea0c...      1
1362278  686cd3eff5482ce6d510378af0fe47f1fe2fda3edd5da2...      1
1362279  b3388e406487258ea5182e7d5296b718ce2ecdb30b5922...      1
1362280  f657404baef05209e714bd5e6a9ea28fa7ef3ec6b49166...      1

[1362281 rows x 2 columns]

In [18]:
agg.head(30)

                                          customer_id  count
0   be1981ab818cf4ef6765b2ecaea7a2cbf14ccd6e8a7ee9...     32
1   b4db5e5259234574edfff958e170fe3a5e13b6f146752c...     31
2   b14bfba3ae0da5af6e9711059773acf713cd7bb9a2c940...     24
3   124cca5c0e033213924187882bc2b7ece884883402d21a...     23
4   689f4eda82fdf3d9bfe8e524bbd0d931c4d7690f2234d3...     23
5   c140410d72a41ee5e2e3ba3d7f5a860f337f1b5e41c27c...     23
6   570f316b7a55a278bc22b66cff78e09b54f3150407bfed...     23
7   cd04ec2726dd58a8c753e0d6423e57716fd9ebcf2f14ed...     21
8   56a37626b0fad499b890a61585c6f8cd9aab7969d86c7e...     21
9   15a3197b46ff468b8f7333afd973274628e00ac53c735e...     21
10  da4991d090dbc1bc54c0538104ef2d5dc46ac40b2b0764...     21
11  efaafb08a00e63ce561a67c31c1ab7e720d4f394a78c47...     21
12  3493c55a7fe252c84a9a03db338f5be7afbce1edbca12f...     21
13  2a9b247a2bbee014c862efef7ec5927dd4aa93e43f8397...     20
14  13aa106eeb8a6fa2f9e2ab888a3a2ee118a3900670f0d8...     20
15  8df45859ccd71ef1e48e2ee9d1c65d5728c31c46ae957d...     20
16  9ff538b9a79943aff0eeb492da5330595a57f696099a40...     20
17  77cdcc11e835b84fdf84df083bc371d326842d4e76cd65...     20
18  04cf991669c675b7f452446159ec5555d2901b04429ff8...     19
19  9f74e778439f4e619f107dcb3aa173f640abb2ae46496c...     18
20  84c34f4f564db1f437943c77af41f83bf6fd7c01701cbb...     18
21  55d15396193dfd45836af3a6269a079efea339e875eff4...     18
22  e238725cbff3774b711407cc000f42c0ddabf6b07eb0e3...     18
23  61f333f21ff1cccd57178e55321b9db5e5295be852ec7e...     18
24  8ecbac3466886ba06b611fc52dd86762a661f57a7ccd2a...     18
25  8d570c0428417fa3336ba4576c24dd7ff9d3b3d146c610...     17
26  157eee38676eebb003bf97407f26e369de192997ab3902...     17
27  594049546197bf6f7e99903c57be3fbeb9cc3282c39f73...     17
28  1320d4b3dd6481cde05bb80fb7ca37397f70470b9afb96...     17
29  21dc541f04d2e07c098fe65c6d5de0c585dd9c15a338ca...     17

In [38]:
df.count()

482189

In [43]:
df

DataFrame[t_dat: timestamp, customer_id: string, article_id: int, price: double, sales_channel_id: int]

In [48]:
df = df.withColumn('date', F.col('t_dat').cast(DateType()))

In [49]:
df.write.partitionBy('date').mode('overwrite').parquet('../data/hm/processed/transactions')